*.dat
*.ini
*.exe
*.xml
*.dll
*.OCX
*.swf
*.txt
qmc/
source/
tools/
doc/
lib/
mmt/

Plugin/*
QMScript/*



# Except
!QMScript/DIAOBOT_V1.q
!QMScript/DIAOBOT_V2.q
!Plugin/dm/*.txt

!Plugin/dm/
# Ignore 
